# This file contains some pip packages which are downloaded and cached within this conan package.
# This file should not be directly used by a consumer, as it contains git references which may not work offline.

# west: latest commit from 'main' branch
west @ git+https://github.com/zephyrproject-rtos/west.git@11302e1ee5af96c9a0cf8c7436992936b1bbd848

# clang-tidy cache
ctcache @ git+https://github.com/matus-chochlik/ctcache.git@0c7fee26e09ae8a393ed7d56164102da118ab23a

# for including vendor repositories
git-nested @ git+https://github.com/thorsten-klein/git-nested@1.0.2
